body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.titulo{
    text-align: center;
    font-weight: 900;
}
#carrinhoContainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.empty-message {
  text-align: center;
  font-size: 18px;
  color: #666;
}
.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.item img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}
.item div {
  flex: 1;
}
.item h2 {
  font-size: 18px;
  margin: 0;
}
.item p {
  margin: 5px 0;
}
.remove-btn {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}
.remove-btn:hover {
  background-color: rgb(219, 9, 9);
}
#checkoutButton,
#backToShopButton {
  display: none;
  margin: 20px 0;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
#checkoutButton {
  background-color: green;
  margin-left: 400px;
}
#checkoutButton:hover {
  background-color: #0de768;
}
#backToShopButton {
  background-color: blue;
  margin-left: 400px;
}
#backToShopButton:hover {
  background-color: #1094ec;
}